:root {
  --rmdp-primary-green: #40bfbf;
  --rmdp-primary-green-opacity: #40bfbf33;
  --rmdp-secondary-green: #86efac;
  --rmdp-shadow-green: #40bfbf;
  --rmdp-today-green: #40bfbf;
  --rmdp-hover-green: #40bfbf;
  --rmdp-deselect-green: #40bfbf;
  --rmdp-range-hover-green: #d8f2ea;
  --rmdp-primary-default: #00264d;
  --rmdp-primary-select: #004d40;
  --rmpd-font-size: 12px;
  --rmdp-font-size-week-day: 10px;
  --rmdp-grey: #73808c;
  --rmdp-today: #edf2f7;
}

.green .rmdp-shadow {
  border: none;
  box-shadow: 0 0 8px rgba(4, 41, 49, 0.1);
}

.rmdp-shadow {
  border: none;
  box-shadow: 0 0 8px rgba(4, 41, 49, 0.1);
}

.green .rmdp-range {
  color: white;
  background-color: var(--rmdp-primary);
  box-shadow: none;
}

.green .rmdp-panel-body li {
  background-color: var(--rmdp-primary-green);
}

.green .rmdp-week-day {
  color: var(--rmdp-grey);
  font-size: var(--rmdp-font-size-week-day);
}

.green .rmdp-day.rmdp-deactive {
  color: var(--rmdp-secondary-green);
}

.green .rmdp-range {
  background-color: var(--rmdp-primary-green-opacity);
}

.green .rmdp-range-hover {
  background-color: var(--rmdp-primary-green-opacity);
}

.green .rmdp-arrow {
  border: solid var(--rmdp-primary-green);
  border-width: 0 2px 2px 0;
}

.green .rmdp-arrow-container:hover {
  background-color: var(--rmdp-primary-green);
}

.green .rmdp-panel-body::-webkit-scrollbar-thumb {
  background: var(--rmdp-primary-green);
}

.green .rmdp-day.rmdp-today span {
  background-color: var(--rmdp-today);
}

.green .rmdp-day span.sd {
  font-size: var(--rmpd-font-size);
  color: var(--rmdp-primary-select);
}

.green .rmdp-day.rmdp-range.end span,
.green .rmdp-day.rmdp-range.start span {
  background-color: var(--rmdp-today-green);
  color: white;
}

.green .rmdp-day .rmdp-range span.sd {
  border: none;
}

.green .rmdp-rtl .rmdp-panel {
  border-left: unset;
  border-right: 1px solid var(--rmdp-secondary-green);
}

.green .rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: var(--rmdp-primary-green);
}

.green .rmdp-day:not(.rmdp-day-hidden) span:hover {
  background-color: var(--rmdp-hover-green) !important;
}

.green .b-deselect {
  color: var(--rmdp-deselect-green);
  background-color: white;
}

.green .rmdp-action-button {
  color: var(--rmdp-primary-green);
}

.green .rmdp-button:not(.rmdp-action-button) {
  background-color: var(--rmdp-primary-green);
}

.green .rmdp-button:not(.rmdp-action-button):hover {
  background-color: var(--rmdp-deselect-green);
}

.green .rmdp-header-values span {
  color: var(--rmdp-primary-default);
  font-weight: 600;
}
