@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@layer base {
  html,
  .Toastify__toast-body > div {
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'cv01', 'cv02', 'cv03', 'cv04'; /* OpenType font features. See more in: https://rsms.me/inter/#features/cvXX */
    @apply text-defaultText;
  }
}

.columnSort {
  @apply inline-flex;
  @apply text-sm;
  @apply text-greyText;
  @apply cursor-pointer;
  @apply transition;
  @apply items-center;
}

.columnSort:hover {
  @apply text-controlGreyHover;
}

.Toastify__toast {
  min-height: 16px !important;
  --toastify-color-info: #fff;
  --toastify-color-success: #fff;
  --toastify-color-warning: #f2eed8;
  --toastify-color-error: #fee9e7;
  --toastify-text-color-info: #00264d;
  --toastify-text-color-success: #00264d;
  --toastify-text-color-warning: #00264d;
  --toastify-text-color-error: #00264d;
  padding: 14px 24px !important;
  box-shadow: 0 0 8px rgba(4, 41, 49, 0.1) !important;
  border-radius: 8px !important;
}

.Toastify__toast-body {
  margin: 0 !important;
  padding: 0 !important;
}

.Toastify__toast--info > .Toastify__toast-body > div,
.Toastify__toast--success > .Toastify__toast-body > div {
  color: var(--toastify-text-color-info);
}

.Toastify__toast--warning > .Toastify__toast-body > div {
  color: var(--toastify-text-color-warning);
}

.Toastify__toast--error > .Toastify__toast-body > div {
  color: var(--toastify-text-color-error);
}
